<% @messages.each do |message| %>
  <tr>
    <td><%= message.body %></td>
    <td><%= message.user.email %></td>
    <td><%= link_to message.body, message %></td>
    <td><%= link_to "To: "+message.user.email, message.user %></td>
    <td><%= link_to 'Destroy', message, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Message', new_message_path %>
